.app-wrapper {
	display: grid;
	grid-template-areas:
	"h h"
	"n c";
	grid-template-rows: 60px 2fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 5px;
	width: 1000px;
	margin: auto;
	text-decoration: none;
}

.app-wrapper-content{
	grid-area: c;
	outline: 5px solid blue;
	color: chartreuse;
	background-color: grey;
}
